{% load static %}
<link rel="stylesheet" href="{% static 'lessons_widget/style.css' %}">
<script src="{% static 'lessons_widget/scripts.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.6/ace.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.6/theme-monokai.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.9.6/mode-javascript.min.js" type="text/javascript" charset="utf-8"></script>

<div class="sigma-lessons-list">
    {% if latest_lessons_list %}
        {% for lesson in latest_lessons_list %}
            <div class="sigma-lesson">
                <div class="sigma-lesson-title">
                    {{ lesson.title }}
                </div>
                <div class="sigma-lesson-content">
                    {{ lesson.lesson_text }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No lessons are available.</p>
    {% endif %}

    <div id="editor">console.log('I should appear in the browser console');</div>
    <button type="submit" form="editor-form" value="Submit" class="sigma-code-submit-button">Run code</button>
</div>
