html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Red Hat Text';
  color: white;
  font-size: 1em;
  align-content: center;
}

#map {
  width: 100%;
  height: 100%;
}

.navigation {
  z-index: 120000;
  position: relative;
}

.topright-anchor {
  text-decoration: none;
  color: black !important;
}

.vl {
  height: 4em;
  position: absolute;
  border-left: 2px solid black;
  right: 0;
  top: 1em;
  padding: 0.2em;
}