
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<div id="map">
    <div class="navigation">
        <! -- navigation -->
        <div class="vl"></div>
        <div class="containerhome" 
        style="
            float: right;
            margin-right: 1.5em;
            margin-top: 1em;">
        <div class="topright">
            <a href="/" class="topright-anchor">
                Home
            </a>
        </div>
        </div>

        <div class="containerhome" 
        style="
            float: right;
            margin-right: -2.75em;
            margin-top: 2.5em;">
        <div class="topright">
            <a href="/firemap" class="topright-anchor"><b>Map</b></a>
        </div>
        </div>

        <div class="containerhome" 
        style="
            float: right;
            margin-right: -2.75em;
            margin-top: 4em;">
        <div class="topright"><a href="/team" class="topright-anchor">Our Team</a></div>
        </div>
    </div>
<script src="{% static 'map.js' %}"></script>

{% if fire_coords %}
    {{ fire_coords | json_script:"fire_coords" }};
    <script>
        const detectedFireCoords = JSON.parse(document.getElementById('fire_coords').textContent);
        detectedFireCoords.forEach(element => L.marker(element).addTo(map));
    </script>
{% endif %}