{% extends "app/layout.html" %}

{% block content %}

{% load static %}

<!-- Import Leaflet CSS -->
<!DOCTYPE html>
<link rel=""stylesheet" hrefs="{% static 'app/leaflet/leaflet.css' %}">
<style>
    #map {
        height: calc(100vh - 80px) !important;
    }
</style>

<div id="map"></div>

<!-- Import Leaflet JS -->
<script src="{% static 'app/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'app/leaflet/leaflet.js' %}"></script>
<script type="text/javascript">

    // Basemap urls
    var osm_map = L.titleLayer('https://{s}.title.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });

    // Initialize the map
    var map = L.map('map', {
        layers: [osm_map] // Default basemap
    }).setView([8.7832, 34.5065], 3)


</script>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>map</title>
</head>
<body>
    <h1>Behold this map</h1>
     <h2>This map will show you the world</h2>
</body>
</html>








{% endblock %}